<div class = "doc">
  <header>
    <div id = "page_banner">
      <%= link_to image_tag("banner_2.png"), posts_path %>
    </div>
  </header>

  <div class = "main_drawing">
    <%= image_tag("krakow_sketch.jpg") %>
  </div>

  <div class = "content">
    <div class = "container">
      <div class = "categories">

        <div id = "old_town" class = "category_icon">
          <% if @number_of_categories == 6 %>
              <%= link_to image_tag("stary_krakow_final_mini.jpg"), category_path(@categories.find(1)) %>
          <% end %>
          <img id = "old_town_desc" class = "description" src="assets/old_town_desc.png" alt="Stary Kraków">
        </div>

        <div id = "parks" class = "category_icon">
          <% if @number_of_categories == 6 %>
              <%= link_to image_tag("parki_final_mini.jpg"), category_path(@categories.find(2)) %>
          <% end %>
          <img id = "parks_desc" class = "description" src="assets/parks_desc.png" alt="Parki">
        </div>

        <div id = "new_smelter" class = "category_icon">
          <% if @number_of_categories == 6 %>
              <%= link_to image_tag("nowa_huta_final_mini.jpg"), category_path(@categories.find(3)) %>
          <% end %>
          <img id = "new_smelter_desc" class = "description" src="assets/new_smelter_desc.png" alt="Nowa Huta">
        </div>

        <div id = "offices" class = "category_icon">
          <% if @number_of_categories == 6 %>
              <%= link_to image_tag("biurowce_final_mini.jpg"), category_path(@categories.find(4)) %>
          <% end %>
          <img id = "offices_desc" class = "description" src="assets/offices_desc.png" alt="Biurowce">
        </div>

        <div id = "modern_architecture" class = "category_icon">
          <% if @number_of_categories == 6 %>
              <%= link_to image_tag("nowoczesna_architektura_final_mini.jpg"), category_path(@categories.find(5)) %>
          <% end %>
          <img id = "modern_architecture_desc" class = "description" src="assets/modern_architecture_desc.png" alt="Nowoczesna Architektura">
        </div>

        <div id = "beside_krakow" class = "category_icon">
          <% if @number_of_categories == 6 %>
              <%= link_to image_tag("poza_krakowem_final_mini.jpg"), category_path(@categories.find(6)) %>
          <% end %>
          <img id = "beside_krakow_desc" class = "description" src="assets/beside_krakow_desc.png" alt="Poza Krakowem">
        </div>
      </div>

      <div class = "posts">
        <%= link_to "Dodaj kategorię", new_category_path, style: 'text-decoration: none; color: grey; font-size: 13px;' %>
        <div class = "last_post">
          <div class = "post_date">
            <%= @posts.first.created_at.getlocal.to_date if @number_of_posts > 0 %>
          </div>

          <div class = "post_title">
            <%= @posts.first.title if @number_of_posts > 0 %>
          </div>

          <div class = "post_text">
            <% if @number_of_posts > 0 %>
                <% if @posts.first.text.length > 200 %>
                    <%= @posts.first.text.first(200) + "..." %>
                <% else %>
                    <%= @posts.first.text %>
                <% end %>
            <% end %>
          </div>

          <div class = "post_more">
            <%= link_to "Dodaj kolejnego posta | ", (new_post_path if @number_of_posts > 0),
                        style: 'text-decoration: none; color: grey; font-size: 13px;' %>
            <%= link_to 'więcej...', (post_path(@posts.first)  if @number_of_posts > 0),
                        style: 'text-decoration: none; color: white; font-size: 13px'%>
          </div>
        </div>

        <div class = "recent_posts">
          <% @posts.each do |post| %>
              <div class = "recent_post_date">
                <%= post.created_at.getlocal.to_date %>
              </div>
              <div class = "recent_post_title">
                <%= post.title %>
              </div>
              <div class = "post_options">
                <%= link_to "Edytuj | ", (edit_post_path(post) if @number_of_posts > 0),
                            style: 'text-decoration: none; color: grey; font-size: 10px' %>
                <%= link_to "Dodaj zdjęcie", (new_post_image_path(post) if @number_of_posts > 0),
                            style: 'text-decoration: none; color: grey; font-size: 10px' %>
                <%= link_to " | Usuń | ", (post_path(post) if @number_of_posts > 0), method: :delete,
                            data: {confirm: "Czy aby na pewno usunąć tego posta?"},
                            style: 'text-decoration: none; color: grey; font-size: 10px' %>
                <%= link_to 'więcej...', (post_path(post)  if @number_of_posts > 0),
                            style: 'text-decoration: none; color: white; font-size: 10px'%>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <footer>
        created by Marcin Szot
  </footer>
</div>